<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>eupagombw</name>
    <displayName><![CDATA[euPago - MB Way]]></displayName>
    <version><![CDATA[1.8.5]]></version>
    <description><![CDATA[Portuguese payment method that sends to your customers MB WAY's app a request to accept the payment.]]></description>
    <author><![CDATA[euPago]]></author>
    <tab><![CDATA[payments_gateways]]></tab>
    <confirmUninstall><![CDATA[Tem a certeza de que quer desinstalar o MB WAY?]]></confirmUninstall>
    <is_configurable>1</is_configurable>
    <need_instance>1</need_instance>
    <limited_countries></limited_countries>
</module>